/*
*** This stylesheet was made by "The Sly Kai"
*/

#map { 
	width: 75%; 
	height: 400px; 
	display: inline-block;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}






