/*
*** This stylesheet was made by "The Sly Kai"
*/

#map { 
	width: 70%; 
	height: 400px; 
	display: inline-block;
}

#panel {
    width: 25%;
    height: 400px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}





